@import "destyle.css";
@import "./theme.scss";
@import "./font.scss";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

html {
  height: 100%;
}

body {
  background: var(--vt-p-background);
  height: 100%;
}

#app,
main {
  height: 100%;
}
