:root {
  // color
  --vt-c-white: #ffffff;
  --vt-c-gray300: #dadedf;
  --vt-c-black: #030303;
  --vt-c-blue: #1a73e8;
  --vt-c-red: #d32f2f;
  --vt-c-pink: #f29089;

  // palette
  --vt-p-text: var(--vt-c-black);
  --vt-p-primary: var(--vt-c-blue);
  --vt-p-attention: var(--vt-c-red);
  --vt-p-background: var(--vt-c-white);
  --vt-p-header: var(--vt-c-pink);

  // shadow
  --w-shadow-2dp: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);

  // popper
  // https://valgeirb.github.io/vue3-popper/guide/getting-started.html#css-variables
  --popper-theme-background-color: var(--vt-c-black);
  --popper-theme-background-color-hover: var(--vt-c-black);
  --popper-theme-text-color: var(--vt-c-white);
  --popper-theme-border-radius: 4px;
}
